.delete{
    width: 150px;
    height:40px;
    border-radius: 12px;
    color: white;
    background-color: transparent;
    border: 2px solid wheat;
    margin-left: 50%;

}
.delete:hover{
    background-color: darkgray;


}
     
