.home{
    height: 80px;
    
    border-radius: 12px;
    color: white;
    background-color: black;
    text-align: center;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}