.home{
    height: 80px;  
   
    color: white;
    background-color:transparent;
    text-align: center;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.card{
        background-color: transparent;
        border-radius: 6px;
        border: 2px solid wheat;
        color: gold;
        
       
        margin: 2% 2% 2% 0%;
        padding: 5% 3% 5% 3%;
        width:500px;
       
        
      }

 .details{
          width: 80px;
          height:40px;
          border-radius: 12px;
          color: white;
          background-color: transparent;
          border: 2px solid wheat;

          margin-bottom: 7%;
          
 }
.details:hover{
 background-color: grey;
 }
 .votes{
     display: inline-block;
 }
.upvote{
     
    color: white;
    background-color: transparent;
    border: 2px solid transparent;
    margin-left: 8px;
    margin-right: 30px;
    
          

      }

.downvote{
     
    color: white;
    background-color: transparent;
    border: 2px solid transparent;

}


