/* Bootstrap */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}

body{
  background-image: url(./assets/back6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    
}

/*media queries*/

@media only screen and (min-width: 600px) {
  .container-fluid {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .container-fluid {
    width: 85%;
  }
}

@media only screen and (min-width: 990px) {
  .container-fluid {
    width: 65%;
  }
}


