<div class="container">
    <div class="row">

        <div class="col-md-6">
            <h5 class="new-quote">New Quote</h5>
            <hr class="ruler">

            <!--Add a form that user will use to add new quote-->
            <form class="quote-form"  #quoteForm='ngForm' (ngSubmit)='submitQuote()'>

                <div class="form-group">
                    <label for="description" class="quoteDescription"  >Quote:</label><br>
                    <input type="text"  id="quoteDescription" required 
                    style="background: transparent; color:white"
                    [(ngModel)]="newQuote.description" 
                    name="description" #description="ngModel"
                   [ngModelOptions]="{standalone:true}" >
                   
                   <!--Description field validation-->
                   <div [hidden]="!description.valid || description.dirty" class="alert alert-danger">
                    <p>Quote must not be left blank</p>
                  </div>   
                    </div> 
                    
                    <div class="form-group">
                        <label for="quoteAuthor" class="quoteAuthor">Author:</label><br>
                        <input type="text"  id="quoteAuthor" required class="form-control"  required
                        style="background: transparent; color:white"
                        [(ngModel)]="newQuote.author"
                        name="author" #author="ngModel"
                        [ngModelOptions]="{standalone:true}" >
                        <!--Author field validation-->
                        <div [hidden]="!author.valid || author.dirty" class="alert alert-danger">
                            <p>Author must not be left blank</p>
                        </div>
                    <br>

                    </div>
                    
                   <div class="form-group">
                    <label for="quoteSubmitter" class="quoteSubmitter">Submitted by:</label><br>
                    <input type="text"  id="quoteSubmitter" required class="form-control" required 
                    style="background: transparent; color:white"
                    [(ngModel)]="newQuote.submitter" name="submitter" #submitter="ngModel" 
                    [ngModelOptions]="{standalone:true}">

                    <!--Submitter field validation-->
                    <div [hidden]="!submitter.valid || submitter.dirty" class="alert alert-danger">
                        <p>This field must not be left blank</p>
                    </div>
                    <br>
                   <br>

                   </div>
                   
                  
                  <button class="add-quote" type="submit" >Add Quote</button>
                  

            </form>
        </div>
    </div>
</div>
