<div class="container">
    <div class="row">

        <div class="col-md-6">
            <h5 class="new-quote">New Quote</h5>
            <hr class="ruler">

            <!--Add a form that user will use to add new quote-->
            <form class="quote-form">
                <div class="mb-3">
                    <label for="quote-description" class="quote-description" required>Quote:</label><br>
                    <input type="text"  id="quote-description" ><br>
                    <label for="quote-author" class="quote-author" required>Author:</label><br>
                    <input type="text"  id="quote-author" ><br>
                    <label for="quote-submitter" class="quote-submitter" required>Submitted by:</label><br>
                    <input type="text"  id="quote-submitter" ><br>
                  </div> <br>
                  
                  <button class="add-quote">Add Quote</button>
                  

            </form>
        </div>
    </div>
</div>
