<div class="container">
    <div class="row">

        <div class="col-md-6">
            <h5 class="new-quote">New Quote</h5>
            <hr class="ruler">

            <!--Add a form that user will use to add new quote-->
            <form class="quote-form"  #quoteForm='ngForm' (ngSubmit)='submitQuote()'>

                <div class="form-group">
                    <label for="description" class="quoteDescription"  >Quote:</label><br>
                    <input type="text" name="quoteDescription"  id="quoteDescription" required 
                    ngForm="newQuote.quoteDescription"  name="quoteDescription" #quoteDescription="ngForm" ><br>         
                 
                    </div> 
                    
                    <div class="form-group">
                        <label for="quoteAuthor" class="quoteAuthor">Author:</label><br>
                        <input type="text"  id="quoteAuthor" required class="form-control"  required
                        ngForm="newQuote.quoteAuthor"  name="quoteAuthor" #quoteAuthor="ngForm"><br>

                    </div>
                    
                   <div class="form-group">
                    <label for="quoteSubmitter" class="quoteSubmitter">Submitted by:</label><br>
                    <input type="text"  id="quoteSubmitter" required class="form-control" required 
                    ngForm="newQuote.quoteSubmitter"  name="quoteSubmitter" #quoteSubmitter="ngForm"><br>
                   <br>

                   </div>
                   
                  
                  <button class="add-quote">Add Quote</button>
                  

            </form>
        </div>
    </div>
</div>
