.quote-form{
    background-color:transparent;
    width:250%;
}
.ruler{
    color: white;
    width: 258%;
   
}

.new-quote{
  margin-top: 2px;
  margin-left: 25%;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.quoteDescription{
    color:white;
    font-size: 20px;
    margin-left: 12%;
    margin-bottom: 10px;
}
#quoteDescription{
    width:500px;
    height: 100px;
    margin-left: 8%;
    border-radius: 12px;
    border: 2px solid wheat;
}
.quoteAuthor{
    color:white;
    font-size: 20px;
    margin-left: 12%;
    margin-top: 10px;
}
#quoteAuthor{
    width:500px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid wheat;
    margin-left: 8%;

}
.quoteSubmitter{
    color:white;
    font-size: 20px;
    margin-left: 12%;
    margin-top: 10px;

}
#quoteSubmitter{
    width:500px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid wheat;
    margin-left: 8%;


}
.add-quote{
    width: 130px;
    height: 40px;
    color:white;
    border: 2px solid wheat;
    border-radius: 12px;
    margin-bottom: 40px;
    font-weight: bold;
    margin-left: 8%;
    background: transparent;
    
}

.add-quote:hover{
    background-color:lightblue ;
    color: black;
    border:2px solid white;
}